{% extends 'base.html.twig' %}

{% block title %}SF Basket : {{ product.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4">
            <img src="/images/hp.jpeg" alt="{{ product.name }}" class="img-thumbnail img-fluid"/>
        </div>
        <div class="col-8">
            <h1>{{ product.name }}<br/><span class="badge badge-primary badge-pill">{{ product.price | number_format(2,',') }} €</span></h1>
            <p>{{ product.description }}</p>
            <form action="{{ path('cart_add_product', {'id': product.id}) }}" method="POST" class="form-inline">
                <div class="form-group">
                    <label for="quantity" class="mr-2">Quantité *</label>
                    <input type="number" name="quantity" id="quantity" class="form-control mr-2" min="1" max="100" value="1" required="required"/>
                </div>
                <button type="submit" class="btn btn-primary">Ajouter au panier</button>
            </form>
        </div>
    </div>
{% endblock %}
